html {
	box-sizing: border-box;
	height: 100%;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
body {
	background-color: wheat;
}
div {
	margin-left: 5px;
}
.card_disp {
	width: 340px;
	height: 400px;
	margin-top: 20px;
	margin-right: 20px;
	float: left;
}
.card_image {
	margin-top: 15px;
	width: 300px;
	height: 250px;
	margin-right: 20px;
	padding: 20px;
}

.spinner {
	display: block;
	position: fixed;
	top: 25%;
	right: 50%;
}
.footer {
	position: relative;
	background: black;
	color: wheat;
	display: block;
}
.gallery {
	height: 100%;
	width: 100%;
	float: left;
	/*display: flex;
	align-items: center;
	justify-content: center;*/
}
.product_image {
	margin-top: 15px;
	width: 500px;
	height: 500px;
	margin-right: 20px;
}
.cart {
	height: 800px;
	width: 70%;

	padding: 20px;
}
.cart-img {
	display: inline;
	height: 400px;
	width: 400px;
	margin-left: 20px;
}

.cart-details {
	height: 500px;
	width: 600px;
	float: right;
	font-size: 6px;
	margin-top: 40px;
}
.cart-title {
	height: 200px;
	margin-top: 40px;
}
.cart-price {
	color: orchid;
	margin-top: 30px;
	margin-left: 30px;
	font-weight: bold;
}
.cart-price button {
	width: 150px;
	height: 100px;
	background: palegreen;
	color: red;
	border: 2px solid black;
	border-radius: 20px;
	font-weight: bold;
	font-size: 25px;
}
.form-allign {
	margin-top: 10px;
}
